account_size: 10 # ($)
primary_data_feed: Bybit # Choices: ["Binance", "Bybit"]

binance_symbol: BTCUSDT # Derivatives symbol, if not used then just leave as any string
bybit_symbol: GPTUSDT # Derivatives symbol

# Master offsets 
quote_offset: 0.0 # In base units
size_offset: 0.0  # In quote units
volatility_offset: 0.0 # In quote units

# Market Maker Settings
base_spread: 0.00002 # In quote units 
min_order_size: 100  # In base units
max_order_size: 1000  # In base units
inventory_extreme: 0.5 # Between 0 <-> 1

# Volatility settings
bollinger_band_length: 20
bollinger_band_std: 2